* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: aqua;
}


h1 {
    margin-bottom: 40px;
}


button {
    background-color: azure;
    border-radius: 5px;
    padding: 10px 20px;
}